.quot {
  padding: 100px 0;
}
.quot .two-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .quot .two-section {
    flex-direction: column;
  }
}
.quot .two-section .left {
  width: 70%;
  background-color: white;
  box-shadow: 1px 1px 20px 1px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 767px) {
  .quot .two-section .left {
    width: 90%;
  }
}
.quot .two-section .left .one {
  padding: 10px 10px 40px 10px;
  border: 1px solid rgb(114, 106, 106);
  border-radius: 5px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .quot .two-section .left .one {
    flex-direction: column;
    padding: 10px 4px;
    position: relative;
    gap: 5px;
  }
}
.quot .two-section .left .one .comment {
  position: absolute;
  width: 65%;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  bottom: 10px;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid;
}
@media (max-width: 767px) {
  .quot .two-section .left .one .comment {
    bottom: 0;
    display: none;
  }
}
.quot .two-section .left .one select {
  height: 30px;
  font-size: 15px;
}
.quot .two-section .left .one .remove {
  background-color: rgb(196, 149, 149);
  padding: 4px 6px;
  color: red;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .quot .two-section .left .one .remove {
    position: absolute;
    right: 10px;
  }
}
.quot .two-section .left .one .quantity {
  border: 1px solid;
  padding: 4px;
}
@media (max-width: 767px) {
  .quot .two-section .left .one .quantity {
    display: flex;
    width: 80%;
    overflow: hidden;
  }
}
.quot .two-section .left .one .quantity input, .quot .two-section .left .one .quantity select, .quot .two-section .left .one .quantity option {
  border: none;
  outline: none;
  height: 20px;
  font-size: 15px;
  border-right: 1px solid;
}
@media (max-width: 767px) {
  .quot .two-section .left .one .quantity input, .quot .two-section .left .one .quantity select, .quot .two-section .left .one .quantity option {
    width: 50%;
  }
}
.quot .two-section .left .one .name {
  font-weight: 700;
  font-size: 20px;
}
.quot .two-section .left .one img {
  min-width: 100px;
  max-width: 100px;
  max-height: 70px;
  min-height: 70px;
}
.quot .two-section .right {
  width: 25%;
}
@media (max-width: 767px) {
  .quot .two-section .right {
    width: 70%;
    margin: auto;
  }
}
.quot .two-section .right h3 {
  text-align: center;
  text-transform: capitalize;
}
.quot .two-section .right form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}
.quot .two-section .right form button {
  width: 60%;
  padding: 15px 0;
  background-color: var(--my-color);
  border-radius: 8px;
  color: white;
  font-size: 16px;
  margin: auto;
  border: none;
  cursor: pointer;
}
.quot .two-section .right form label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 8px;
}
@media (max-width: 767px) {
  .quot .two-section .right form label {
    width: 80%;
    margin: auto;
  }
}
.quot .two-section .right form label input {
  height: 30px;
  font-size: 16px;
}/*# sourceMappingURL=quot.css.map */